define listener(TCP.LISTENER) trptype(tcp) control(qmgr) port(1415)
start listener(TCP.LISTENER)
DEFINE CHANNEL(SYSTEM.ADMIN.SVRCONN) CHLTYPE (SVRCONN)
DEFINE CHANNEL({{mq_queue_name}}.SRVCONN) CHLTYPE(SVRCONN) TRPTYPE(TCP) MCAUSER(' ') DESCR('Server connection channel for clients')
DEFINE QLOCAL(ESB.OCP.NORMAL.IN)
DEFINE QLOCAL(ESB.OCP.NORMAL.OUT)
DEFINE QLOCAL(ESB.OCP.NORMAL.REQUEST)
DEFINE QLOCAL(ESB.OCP.NORMAL.RESPONSE)
DEFINE QLOCAL(ESB.OCP.SLOW.IN)
DEFINE QLOCAL(ESB.OCP.SLOW.OUT)
DEFINE QLOCAL(ESB.OCP.SLOW.REQUEST)
DEFINE QLOCAL(ESB.OCP.SLOW.RESPONSE)
DEFINE QALIAS(ESB.OCP.ASYNC.IN) TARGET(ESB.OCP.NORMAL.IN)
DEFINE QALIAS(ESB.OCP.ASYNC.OUT) TARGET(ESB.OCP.NORMAL.OUT)
DEFINE QALIAS(ESB.OCP.ASYNC.REQUEST) TARGET(ESB.OCP.NORMAL.REQUEST)
DEFINE QALIAS(ESB.OCP.ASYNC.RESPONSE) TARGET(ESB.OCP.NORMAL.RESPONSE)
DEFINE QALIAS(ESB.OCP.ASYNC.SLOW.IN) TARGET(ESB.OCP.SLOW.IN)
DEFINE QALIAS(ESB.OCP.ASYNC.SLOW.OUT) TARGET(ESB.OCP.SLOW.OUT)
DEFINE QALIAS(ESB.OCP.ASYNC.SLOW.REQUEST) TARGET(ESB.OCP.SLOW.REQUEST)
DEFINE QALIAS(ESB.OCP.ASYNC.SLOW.RESPONSE) TARGET(ESB.OCP.SLOW.RESPONSE)
DEFINE QLOCAL(STORM)
